{% extends 'layout.html' %}

{% set active_page = "home" %}

{% block content %}
<main id="main">
  <p>

Modern cinema auditorium in Madrid, Spain.

Rodgers Theatre in Poplar Bluff in Missouri. This Art Deco-style theater opened in 1949.



  <br />
  <p>
    The view from the projectionist's booth at Ultimate Palace Cinema in Oxford. The picture the projector is displaying is the 1997 Universal Pictures Logo.

A cinema auditorium in Australia
A movie theater (American English),[1] cinema (British English),[2] or cinema hall (Indian English),[3] also known as a picture house, the pictures, picture theatre or the movies, is a building that contains auditoria for viewing films (also called movies) for entertainment. Most, but not all, theaters are commercial operations catering to the general public, who attend by purchasing a ticket. Some movie theaters, however, are operated by non-profit organizations or societies that charge members a membership fee to view films.

  </p>
  <p>
    The film is projected with a movie projector onto a large projection screen at the front of the auditorium while the dialogue, sounds and music are played through a number of wall-mounted speakers. Since the 1970s, subwoofers have been used for low-pitched sounds. In the 2010s, most movie theaters are equipped for digital cinema projection, removing the need to create and transport a physical film print on a heavy reel.

A great variety of films are shown at cinemas, ranging from animated films to blockbusters to documentaries. The smallest movie theaters have a single viewing room with a single screen. In the 2010s, most movie theaters had multiple screens. The largest theater complexes, which are called multiplexes—a concept developed in Canada in the 1950s — have up to thirty screens. The audience members often sit on padded seats, which in most theaters are set on a sloped floor, with the highest part at the rear of the theater. Movie theaters often sell soft drinks, popcorn, and candy, and some theaters sell hot fast food. In some jurisdictions, movie theaters can be licensed to sell alcoholic drinks.
  </p>
  </p>
  <p style="text-align: right; font-style: italic;">
    Wikipedia
  </p>
</main>
{% endblock %}
